{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<h1>Panier #{{ panier.id }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ panier.id }}</td>
        </tr>
        <tr>
            <th>Date du panier</th>
            <td>{{ panier.datePanier ? panier.datePanier|date('d/m/Y') : '' }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>
                {% if panier.client %}
                    {{ panier.client.nom }} {{ panier.client.prenom }}
                {% else %}
                    Aucun client
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_panier_index') }}" class="btn btn-secondary">⬅ Retour à la liste</a>
<a href="{{ path('app_panier_edit', {'id': panier.id}) }}" class="btn btn-warning">✏️ Modifier</a>
{{ include('panier/_delete_form.html.twig') }}
{% endblock %}
